[Unit]
Description=Riak
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/mkdir -p /var/lib/riak && chmod a+rw /var/lib/riak
ExecStartPre=/usr/bin/mkdir -p /var/log/riak && chmod a+rw /var/log/riak
ExecStartPre=-/usr/bin/docker kill riak
ExecStartPre=-/usr/bin/docker rm riak
ExecStartPre=/usr/bin/docker pull pingles/riak-coreos:latest

ExecStart=/bin/bash -c '/usr/bin/docker run \
                          --name riak \
                          -v /var/lib/riak:/data \
                          -v /var/log/riak:/logs \
                          -p ${COREOS_PUBLIC_IPV4}:8087:8087 \
                          -p ${COREOS_PUBLIC_IPV4}:8098:8098 \
                          -p ${COREOS_PUBLIC_IPV4}:8099:8099 \
                          -p ${COREOS_PUBLIC_IPV4}:4369:4369 \
                          --rm \
                          pingles/riak-coreos:latest \
                          %m ${COREOS_PUBLIC_IPV4}'
ExecStartPost=/bin/bash -c '/usr/bin/docker exec riak /usr/sbin/riak-join ${COREOS_PUBLIC_IPV4}'

ExecStop=-/usr/bin/docker stop riak
ExecStopPost=-/bin/bash -c '/usr/bin/etcdctl rm /riak/bootstrap/machines/%m'

[X-Fleet]
Conflicts=riak@*.service
